html, body {
  background-color: #0B0B0C;
}

.clickable {
  cursor: pointer;
  cursor: -moz-pointer;
  cursor: -webkit-pointer;
}

p {
  font-size: min(5vw, 14px)
}

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'),
       url('./fonts/AvenirLTStd-Black.otf') format('otf'),
       url('./fonts/AvenirLTStd-Book.otf') format('otf'),
       url('./fonts/AvenirLTStd-Roman.otf') format('otf'),
}

.avenirblack {
  font-family: Avenir;
  font-weight: 600;
}

.avenirbook {
  font-family: Avenir;
  font-weight: 500;
}

.avenirroman {
  font-family: Avenir;
  font-weight: 300;
}

.radialgradient {
  background: radial-gradient(50% 50% at 50% 50%, 
  hsla(237, 54%, 23%, 0.959) 0%,
  hsla(235, 53%, 19%, 0.892) 14%,
  hsla(235, 46%, 16%, 0.812) 23%,
  hsla(238, 39%, 12%, 0.879) 34%,
  hsla(240, 26%, 9%, 0.793) 51%,
  hsla(240, 4%, 5%, 0) 85%
  )
}

mark {
  background: none;
  color: white;
  opacity: 100%;
}

input {
  color: rgba(255, 255, 255, 1);
  border: 0px;
  border: rgba(0,0,0,0);
  outline: none;
}

input:active {
  border: 0px;
  outline: none;
}

.spin {
  animation: spin infinite linear 15000ms;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -360deg;
  }
}